/* Colors */

* {
    background:     #24283b;
    background-alt: #1a1b26;
    border:         #24283b;
    foreground:     #a9b1d6;
    selected:       #7aa2f7;
    active:         #2ac3de;
    urgent:         #73daca;
}
